<h2>About Ask-Me_Anything</h2>

<p>This is a website similar to Crowd Sourced, Reddit/Quora Style Message Board for Senior Developers & Tech Pros

The goal was to create a question and answer message board, similar to Reddit, Quora, StackOverflow or other such sites. Users should be able to submit a question, then other users can respond with answers.
</p>


{{#link-to 'contact'}}Click here to contact us.{{/link-to}}
