<div class= "container">

  <nav class="navbar navbar-inverse">
   <div class="container-fluid">
     <div class="navbar-header">
       <a class="navbar-brand" href="/">Ask Me Anything</a>
     </div>
     <ul class="nav navbar-nav">
       <li><a href="/">Home</a></li>
       <li><a href="/about">About</a></li>
       <li><a href="/contact">Contact</a></li>
     </ul>
   </div>
 </nav>

  <header class= "jumbotron">
    <h1>Ask Me Anything!</h1>
  </header>
    {{outlet}}
  <hr>
  <footer>
    {{#link-to 'contact'}}We'll answer your questions about the website!{{/link-to}}
  </footer>

</div>
