<h2> Welcome to Ask Me Anything! </h2>

<p>We hope you find exactly what you're looking for to help you develop better software.</p>

<p>Trending questions:</p>

<ul>
  {{#each model.questions as |question|}}
   {{question-tile question=question}}
  {{/each}}
</ul>

{{new-question saveQuestion="saveQuestion"}}



{{#link-to 'about'}}About |{{/link-to}}

{{#link-to 'contact'}}Contact{{/link-to}}
