<h1> Welcome to Ask Me Anything! </h1>

<p>We hope you find exactly what you're looking for to help you develop better software.</p>

<ul>
  {{#each model as |question|}}
   {{question-tile question=question}}
  {{/each}}
</ul>

{{new-question saveQuestion="saveQuestion"}}

{{#link-to 'about'}}About{{/link-to}}

{{#link-to 'contact'}}Click here to contact us.{{/link-to}}
